body {
    font-family: fantasy;
}

header{
    text-align: center;
    background-color: rgb(184, 175, 72);
}

.fomulario{
    margin-left: 2rem;
    margin-right: 2rem;
    border-style: dashed;
    padding: 1rem;
}

input{
    margin-bottom: 1rem;
    padding: 1rem;
}